.sidebarRow {
  display: flex;
  margin-top: 2px;
  align-items: center;
  border-radius: 15px;
}
.sidebarRow > .sidebarRow_Icon {
  color: gray;
}
.sidebarRow:hover > .sidebarRow_Icon {
  color: red;
  cursor: pointer;
}
.sidebarRow:hover {
  background-color: gainsboro;
  font-weight: 900;
}
.sidebarRow.selected {
  background-color: gainsboro;
  font-weight: 900;
}
.sidebarRow.selected > .sidebarRow_Icon {
  color: red;
}
.sidebarRow_Icon {
  margin: auto 10px;
}
.sidebarRow_title {
  flex: 1;
  font-weight: lighter;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  padding-right: 2px;
}
